<%- include("templates/header") %> 
<div style="text-align: center; margin-top: 10%; color: red; font-family: 'Comic Sans MS'; margin-top: 10%;">
    <h1>Sorry, This page does not exist - 404</h1>
    <h3>You might want to check your URL ^_^</h3>
</div>
<%- include("templates/footer") %> 