<h2 style="width: 400px; margin: 0 auto; margin-top: 5%; margin-bottom: 5%; font-family: 'Comic Sans MS'">Welcome, Here you can log in to the app.</h2>
  <div style="background-color: rgba(0, 0, 255, 0.2); padding: 20px; width: 400px; margin: 0 auto; border-radius: 10px;">
    <h2 style="color: #333; text-align: center;">Log In</h2>
    <form action='/loggingin' method='post' style="display: flex; flex-direction: column;">
    <input name='email' type='text' placeholder='Email' style="padding: 10px; margin-bottom: 10px; border: none; border-radius: 5px;">
    <input name='password' type='password' placeholder='Password' style="padding: 10px; margin-bottom: 10px; border: none; border-radius: 5px;">
    <button style="background-color: #007bff; color: #fff; padding: 10px; border: none; border-radius: 5px;">Submit</button>
    </form>
    
    <!-- if page redirected back with errorVariable = true, display error message-->
    <% if (req.query.blank) { %>
        <p style="color: red;">Fields cannot be blank. Please try again.</p>
    <% } %>

    <% if (req.query.invalid) { %>
        <p style="color: red;">Fields cannot be blank. Please try again.</p>
    <% } %>

    <% if (req.query.incorrect) { %>
        <p style="color: red;">Email not in record. Sign up please.</p>
        <button><a href="/signUp">Sign Up</a></button>
    <% } %>

    <% if (req.query.incorrectPass) { %>
        <p style="color: red;">Incorrect password. Please try again.</p>
    <% } %>

    <% if (req.query.notLoggedIn) { %>
        <p style="color: red;">Login to access Member's Page.</p>
    <% } %>
  </div>