<%- include("templates/header") %>

<div style="text-align: center; color: red; font-family: 'Comic Sans MS'; margin-top: 5%;">
    <h1>Welcome, <%= name %> !<br>This is the member's page</h1>
    <div style='text-align:center;'><img src=<%= imagePath %> style='width:250px; border: 1px solid black;'></div>
    <div style="margin-top: 2%;">
      <form action="/">
      <button type="submit">Homepage</button>
      </form>
      <form action="/signout">
      <button type="submit">Sign out</button>
      </form>
    </div>
</div>

<%- include("templates/footer") %>